*, *before, *after {
  box-sizing border-box
}

@keyframes rotate {
  100% {
    transform rotate(1turn)
  }
}

@keyframes opacityChange
  50%
    opacity 1

  100%
    opacity .5

.features
  display none !important

.banner-conent
  position relative
  background inherit
  margin 50px auto !important
  padding 5vmin
  border-radius 5px
  border 2px solid rgba(255, 255, 255, .5)

  &::after
    position absolute
    content ""
    background inherit
    top 0
    left 0
    right 0
    bottom 0
    filter blur(10px)
    z-index 0

  .hero
    position relative
    color whitesmoke
    z-index 10
    font-size 24px
    line-height 1.5

$img = '/img/bg.t1b5w3nju5s.webp'
$top = #70696b
$bottom = #c5c3be
$left = rgba(129, 81, 66, 0.55)
$right = #66799b
// 评论区颜色重置
.banner
  position relative
  z-index 0 !important
  height 300px !important
  border-radius 10px !important
  overflow hidden !important
  width 100% !important
  background-image url($img) !important
  background-repeat no-repeat !important
  background-attachment fixed !important
  background-size cover !important

  &::before
    content ''
    position absolute
    z-index -2
    left -50%
    top -50%
    width 200%
    height 200%
    background-color #642929
    background-repeat no-repeat
    background-size 50% 50%, 50% 50%
    background-position 0 0, 100% 0, 100% 100%, 0 100%
    background-image linear-gradient($top, $top), linear-gradient($bottom, $bottom),linear-gradient($left, $left), linear-gradient($right, $right)
    animation rotate 20s linear infinite


  &::after
    content ''
    position absolute
    z-index -1
    left 6px
    top 6px
    width calc(100% - 12px)
    height calc(100% - 12px)
    background-image url($img) !important
    border-radius 5px
    animation opacityChange 6s infinite alternate

.slide-banner
  display none !important


.gt-container
  .gt-ico-tip
    &::after
      content: '。( Win + . ) 或 ( ⌃ + ⌘ + ␣ ) 打开表情'
      color: #999
      font-size: .8rem
  .gt-meta
    border-color var(--borderColor)!important
  .gt-comments-null
    color var(--textColor)
    opacity .5
  .gt-header-textarea
    color var(--textColor)
    background rgba(180,180,180,0.1)!important
  .gt-btn
    border-color $accentColor!important
    background-color $accentColor!important
  .gt-btn-preview
    background-color rgba(255,255,255,0)!important
    color $accentColor!important
  a
    color $accentColor!important
  .gt-svg svg
    fill $accentColor!important
  .gt-comment-content,.gt-comment-admin .gt-comment-content
    background-color rgba(150,150,150,0.1)!important
    &:hover
      box-shadow 0 0 25px rgba(150,150,150,.5)!important
    .gt-comment-body
      color var(--textColor)!important


// qq徽章
.qq
  position: relative;
.qq::after
  content: "可撩";
  background: $accentColor;
  color:#fff;
  padding: 0 5px;
  border-radius: 10px;
  font-size:12px;
  position: absolute;
  top: -4px;
  right: -35px;
  transform:scale(0.85);

// demo模块图标颜色
body .vuepress-plugin-demo-block__wrapper
  &,.vuepress-plugin-demo-block__display
    border-color rgba(160,160,160,.3)
  .vuepress-plugin-demo-block__footer:hover
    .vuepress-plugin-demo-block__expand::before
      border-top-color: $accentColor !important;
      border-bottom-color: $accentColor !important;
    svg
      fill: $accentColor !important;

// 全文搜索框
.suggestions
  overflow: auto
  max-height: calc(100vh - 6rem)
  @media (max-width: 719px) {
    width: 90vw;
    min-width: 90vw!important;
    margin-right: -20px;
  }
  .highlight
    color: $accentColor
    font-weight: bold
